export ZSH=$HOME/.oh-my-zsh

ZSH_THEME="{{ zsh.theme }}"
DISABLE_AUTO_UPDATE="true"

plugins=(
{% for plugin in zsh.plugins %}
  {{ plugin }}
{% endfor %}
)

{{ shell.aliases }}

{{ shell.functions }}

{{ shell.exports }}

source $ZSH/oh-my-zsh.sh
source $HOME/.zshrc_extra
